
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.idea/flutter_audio_recorder2.iml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/modules.xml
.idea/vcs.xml
